.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    
  }
  
  .pagination-button {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

.active {
  margin: 4px 5px;
  background-color: #b3ff00;
}